{% extends 'app/home_base.html' %}
{% load static %}
{% block title %}<title>About us</title>{% endblock %}
{% block style %}
<style>
body {
    background-image: url('{% static 'app/images/backgroud/background (1).jpg' %}');
    background-size: cover;
}
</style>
    <link href="{% static 'app/css/aboutUsStyle.css' %}" rel="stylesheet">}
{% endblock style %}

{% block about_us %}
<div class="content">
<div class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus">
                    <h3 class="aboutus-title">About Us</h3>
                    <p class="aboutus-text">We are Hoi An Fresh Fruit Delivery. We are fruits and vegetables supplier. Supply fresh fruits and vegetables
                    is happiness with us. In modern life, we spend much time for social life as work, business ...Lets delivery food to your door. Save your time - Enjoy your life</p>
                    <p class="aboutus-text">KEEP IN YOUR MIND:<br><quote>SAVE YOUR TIME - ENJOY YOUR LIFE </quote></p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="aboutus-banner">
                    <img src="http://themeinnovation.com/demo2/html/build-up/img/home1/about1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="feature">
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h3>Work with heart</h3>
                                <p>Our Team always service clients by pure heart. Help our clients have more time to enjoy with their family and nice friends.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h3>Reliable services</h3>
                                <p>Reliable is one of our priority. We and our client are nice friends.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="clearfix">
                            <div class="iconset">
                                <span class="glyphicon glyphicon-cog icon"></span>
                            </div>
                            <div class="feature-content">
                                <h3>Great support</h3>
                                <p>We are very happy for client's feedback as well as nice things which help us improve our service.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h3 style="margin-left: 5%">Our Team</h3>
<div class="row" style="margin-left: 5%">
{% for member in member_team %}
  <div class="column">
    <div class="card" style="margin: 0px">
      <img src="{{ member.image_url }}" height="200px" alt="name" style="width:100%">
      <div class="container">
        <br>
        <h5>{{ member.name }}</h5>
        <p class="title">Position: {{ member.position}}</p>
          <div class="{{ member.name }}contact">
            <p id="{{ member.name }}phone">Phone: {{ member.phone }}</p>
            <p id="{{ member.name }}email">Email: {{ member.email}}</p>
          </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>
</div>
{#<script>#}
{#    $(document).ready(function(){#}
{#        $("#{{ member.name }}").click(function(){#}
{#            $("#{{ member.name }}phone").toggle();#}
{#            $("#{{ member.name }}email").toggle();#}
{#        });#}
{#    });#}
{#</script>#}
{% endblock about_us %}
