{% extends 'app/home_base.html' %}
{% load static %}
{% block title %}<title>Check Out</title>{% endblock %}
{% block checkout %}
     <div class="row" style="width: 100%">
		<div class="col-lg-4">
			<div class="box-element" id="form-wrapper">
                <div id="shipping-info">
                    <a class="btn">
                        <img src="{% static 'app/images/Other/Shipping1.jpg' %}" alt="Shipping" width="auto" height="30px">
                        <strong><i>Shipping Address</i></strong>
                    </a>
                    {% for name, infor in user_infor_dict.items %}
                    <div class="col-lg-8" style="width: 100%">
                      <div class="card ">
                        <div class="card-body" style="padding: 2%">
                          <div class="col-sm-9" >
                              <p class="text-muted mb-0" >{{ name }}: {{ infor }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                </div>
					<hr>
                <form method="post" action="">
                {% csrf_token %}
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="PURCHASE" style="width: 100%">
                </form>
			</div>
			<br>
		</div>
        <!--ORDER SUMMARY-->
		<div class="col-lg-8">
			<div class="box-element">
				<a class="btn" href="{% url 'cart' %}">
                    <img src="{% static 'app/images/Icons/backarrow.webp' %}" alt="Back Arrow" width="auto" height="30px">
                    <i>Back To Cart</i>
                </a>
				<hr>
                <div class="box-element">
				<h3>Summary</h3>
                    <h6>Items: <strong>{{ invoice_current.get_invoice_items }}</strong></h6>
                    <h6>Total:<strong> {{ invoice_current.get_invoice_total|floatformat:"g"}} VND</strong></h6>
                </div>
				<hr>
                <div class="cart-row">
                    <div style="flex:2"><p><strong>Image</strong></p></div>
                    <div style="flex:2"><p><strong>Item</strong></p></div>
                    <div style="flex:1"><p><strong>Price</strong></p></div>
                    <div style="flex:1"><p><strong>Quantity</strong></p></div>
                    <div style="flex:1"><p><strong>Total</strong></p></div>
                </div>
            <div>
            {% for item in items_checked_list %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{ item.product.image_url}}" alt="NoImage"></div>
					<div style="flex:2"><p>{{ item.product.name }}</p></div>
					<div style="flex:1"><p>{{ item.product.price|floatformat:"g" }} VND</p></div>
					<div style="flex:1"><p>{{ item.quantity }}</p></div>
                    <div style="flex:1"><p>{{ item.get_total|floatformat:"g" }} VND</p></div>
				</div>
            {% endfor %}
        <!--ORDER SUMMARY-->
		</div>
	</div>
    <br><br>
 </div>
 </div>
{% endblock checkout %}
