{% extends 'app/home_base.html' %}
{% load static %}
{% block title %}<title>Contact Us</title>{% endblock %}

{% block style %}
<style>
body {
    background-image: url('{% static 'app/images/backgroud/background (3).jpg' %}');
    background-size: cover;
    background-repeat: no-repeat;
}
</style>
{% endblock style %}

{% block contact %}
<div class="container">
<br />
<h3 class="text-center">Contact us</h3>
<hr>
<div class="row">
  <div class="col-md-8">
      {% include 'app/include/message.html' %}
      <form action="{% url 'contact_information'%}" method="post" >
         {% csrf_token %}
        <input id='client_name' class="form-control" name="name" placeholder="Name..." required /><br />
        <label for=client_name></label>
        <input id='client_phone' class="form-control" name="phone" placeholder="Phone..."/><br />
        <label for=client_phone></label>
        <input id='client_phone' class="form-control" name="email" placeholder="E-mail..." required/><br />
        <label for=client_email></label>
        <textarea id ='client_feedback' class="form-control" name="content" placeholder="How can we help you?" style="height:150px;" required></textarea><br />
        <label for=client_feedback></label>
        <input class="btn btn-primary" type="submit" value="Send" /><br /><br />
      </form>
  </div>
  <div class="col-md-4">
    <b>Customer service:</b> <br />
    Phone: +84 935 535 131<br />
    E-mail: <a href="mailto:dh.gentle.man@gmail.com" style="text-decoration: none">dh.gentle.man@gmail.com</a><br />
    <br /><br />
    <b>Address:</b><br />
    09 Cao Hồng Lãnh<br />
    Hội An - Quảng Nam - Việt Nam<br />
    Phone: +84 935 535 131<br />
    E-mail: <a href="mailto:dh.gentle.man@gmail.com" style="text-decoration: none">dh.gentle.man@gmail.com</a><br />

  </div>
</div>
</div>
{% endblock contact %}