{% extends 'app/home_base.html' %}
{% load static %}
{% block title %}<title>Contact Us</title>{% endblock %}

{% block style %}
<style>
body {
    background-image: url('{% static 'app/images/backgroud/background (3).jpg' %}');
    background-size: cover;
    background-repeat: no-repeat;
}
</style>
{% endblock style %}

{% block contact %}
<div class="container">
<br />
<h3 class="text-center">Contact us</h3>
<hr>
<div class="row">
  <div class="col-md-8">
      <form action="/post" method="post">
        <input class="form-control" name="name" placeholder="Name..." /><br />
        <input class="form-control" name="phone" placeholder="Phone..." /><br />
        <input class="form-control" name="email" placeholder="E-mail..." /><br />
        <textarea class="form-control" name="text" placeholder="How can we help you?" style="height:150px;"></textarea><br />
        <input class="btn btn-primary" type="submit" value="Send" /><br /><br />
      </form>
  </div>
  <div class="col-md-4">
    <b>Customer service:</b> <br />
    Phone: +84 935 535 131<br />
    E-mail: <a href="#" style="text-decoration: none">dh.gentle.man@gmail.com</a><br />
    <br /><br />
    <b>Address:</b><br />
    09 Cao Hồng Lãnh<br />
    Hội An - Quảng Nam - Việt Nam<br />
    Phone: +84 935 535 131<br />
    E-mail: <a href="#" style="text-decoration: none">dh.gentle.man@gmail.com</a><br />

  </div>
</div>
</div>
{% endblock contact %}