{% extends 'app/home_base.html' %}
{% load static %}
{% block title %}<title>Your Profile</title>{% endblock %}

{% block profile%}
<section style="background-color: #eee;">
  <div class="container py-5">
      <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4"><strong>{{ user.username|upper }} PROFILE</strong></nav>
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
              <img src="{% static 'app/images/Other/avatar.jpg' %}" alt="Your Avatar" class="rounded-circle" style="width: 150px;">
            <h5 class="my-3">{{ user.first_name|upper }} {{ user.last_name|upper }}</h5>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-outline-primary ms-1">Update Your Image</button>
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                <p class="mb-0">{{  user_detail.twitter}}
                    <button type="submit" style="background: white; border: none">
                        <img src="{% static 'app/images/Other/edit.png' %}" alt="Edit" height="25px">
                    </button>
                </p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-tiktok fa-lg" style="color: #ee1d52;"></i>
                <p class="mb-0">{{  user_detail.tiktok }}
                    <button type="submit" style="background: white; border: none">
                        <img src="{% static 'app/images/Other/edit.png' %}" alt="Edit" height="25px">
                    </button>
                </p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                <p class="mb-0">{{ user_detail.facebook }}
                <button type="submit" style="background: white; border: none">
                    <img src="{% static 'app/images/Other/edit.png' %}" alt="Edit" height="25px">
                </button>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.email }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user_detail.userPhone}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">City</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">LA</p>
              </div>
            </div>
          </div>
        </div>
          <h6><strong>Your Order History</strong></h6>
        <hr>
        {% for invoice_status, invoice in invoice_list_template %}
            {% for item in invoice %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{ item.product.image_url}}" alt="NoImage"></div>
					<div style="flex:2"><p>{{ item.product.name }}</p></div>
					<div style="flex:1"><p>{{ item.product.price|floatformat:"g" }} VND</p></div>
					<div style="flex:1"><p>{{ item.quantity }}</p></div>
                    <div style="flex:1"><p>{{ item.get_total|floatformat:"g" }} VND</p></div>
				</div>
            {% endfor %}
            <div>Status: {{ invoice_status }}</div>
            <hr>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock profile %}