{% extends 'app/home_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Register</title>{% endblock %}
</head>
<body >

{% block register %}


<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 50px">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign Up</p>

                <form id = signUpFom class="mx-1 mx-md-4" method="post" action="">
                  {% csrf_token %}
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      {{ form.username }}<br>
                      <label class="form-label" for="form3Example1c">User Name</label>
                    </div>
                    &emsp;&emsp;&emsp;&emsp;
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      {{ form.first_name }}<br>
                      <label class="form-label" for="form3Example1c">First Name</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      {{ form.last_name }}<br>
                      <label class="form-label" for="form3Example1c">Last name</label>
                    </div>
                    &emsp;&emsp;&emsp;&emsp;
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      {{ form.email}}<br>
                      <label class="form-label" for="form3Example1c">Email</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                        {{ form.password1 }}<br>
                      <label class="form-label" for="form3Example4c">Password</label>
                    </div>
                    &emsp;&emsp;&emsp;&emsp;

                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                        {{ form.password2 }}<br>
                      <label class="form-label" for="form3Example4cd">Repeat your password</label>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg" style="border-radius: 10px">Create Account</button>
                  </div>

                <p style="text-align:center">Already have an account?<a href="{% url 'login_page' %}">Log In</a></p>

{#                {% if form.is_valid %}#}
{#                    <script>window.alert("DANG KI THANH CONG")</script>#}
{#                {% endif %}#}

                </form>
              </div>

              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                <img src="{% static 'app/images/logo/hafff_logo2.png' %}" class="img-fluid" alt="Sample image"
                style="height:500px; width: auto;padding-left: 20%">
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock register %}
</body>
</html>